
%li.clearfix
  .message-data.align-right
    %span.message-data-time
      #{message.timestamp}
       
    %span.message-data-name
      = message.user.name
  .message.other-message.float-right
    %br/
    = message.body