
%li.clearfix
  .message-data.align-right
    %span.message-data-time
      #{message.timestamp}
       
    %span.message-data-name
      = message.user.name
  .message.other-message.float-right
    %br/
    = message.body
    - if message.image.present?
      = image_tag(url_for(message.image), class: "responsive-img")
