.container
  .card-panel.black-text
    %h1 Add chat room
    = form_for @chat_room do |f|
      .input-field
        = f.text_field :title, autofocus: true, class: 'form-control'
        = f.label :title
      = f.submit "Add!", class: 'waves-effect waves-light btn'
