.people-list
  .search
    %input{:placeholder => "Type to find friend", :type => "text"}

  %ul.list
    %li.clearfix
      %img{alt: "avatar", src: 'https://www.shareicon.net/download/2015/09/24/106425_man.ico'}
      .about
        .name Name
